.text_area {
    color: black;
    width: 80%;
    display: block;
    text-align: center; 
    margin: auto;
}

#svg_container {
    display: block;
    text-align: center;
    margin: auto; 
}

#svg_canvas {
    display: inline-block;
    position: relative;
    text-align: center;   
    margin: auto; 
    color: black;
}

#updateMenu {
    display: inline-block;
    color: black;
}

#updateMenu button {
    color: black;
    display: block;
    text-decoration: none;
    padding: 4px;
    min-width: 120px;
}

#button_panel {
    display: block;
    text-align: center; 
    margin: auto;
}

.gridline {
    opacity: .3;
}

.selectedButton {
    opacity: .8;
    color: black;
    background-color: rgb(112, 166, 187);
}
